<div class="max-w-md mx-auto p-4 border rounded-lg shadow-md">
    <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" #vehicleInput id="vehicleInput" type="text" placeholder="Search for a vehicle"
    (input)="updateSearch($event)">
    <!-- Vehicle Image and Name -->
    <div class="mb-4">
      <img [src]="selectedVehicle.media.image.thumbnail_url" alt="Vehicle Image" class="w-full h-auto rounded-lg">
      <ng-template #noImage>
        <img src="placeholder-image-url.jpg" alt="No Image Available" class="w-full h-auto rounded-lg">
      </ng-template>
      <h3 class="text-xl font-semibold mt-2">{{ selectedVehicle.naming.model}}</h3>
      <h1 class="text-sm font-semibold mt-2">{{"Best: " + selectedVehicle.range.chargetrip_range.best +"km"}}</h1>
    </div>
  
    <!-- Previous and Next Buttons -->
    <div class="flex justify-between">
      <button (click)="previousVehicle()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Previous
      </button>
      <button (click)="nextVehicle()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Next
      </button>
    </div>
  </div>
  
